@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family:  "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;

  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/*buttons*/
.btn {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
}

.btn--secondary {
  background-color: #82b3d3;
}

.btn--transparent {
  background-color: transparent;
}

.btn--outline {
  color: #000000;

  background-color: transparent;
  border: 2px solid #E5E5E5;
}

.btn--small {
  font-size: 16px;
  line-height: 20px;
}

/*forms*/
.control {
  font-size: 18px;
  line-height: 23px;
}

.control__input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  background-color: #f2f2f2;
}

.control-select {
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

/*titles*/
.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.main-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #000000;
}

.main-header {
  display: flex;
  padding: 0 70px;
}

.main-header__logo {
  margin-right: 30px;
}

.main-header__navigation {
  flex-grow: 1;
}

.logo {
  width: 140px;
}

.logo__img {
  max-width: 100%;
  height: auto;
}

.navigation {
  display: flex;
}

.menu {
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.navigation__menu {
  width: 500px;
  margin-right: auto;
}

.navigation__action-menu {
  max-width: 310px;
}

.menu__link {
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.quantity-favorite {
  font-size: 10px;
  color: #ffffff;

  background-color: #7db54f;
}

.hero {
  text-align: center;
  color: #ffffff;

  background-color: #abc8e3;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.reasons {
  text-align: center;
}

.reasons-intro {
  width: 660px;
  margin: 0 auto;
}

.reason-list {
  margin: 0;
  padding: 0;
}

.reason-list__item {
  text-align: center;
  color: #333333;

  background-color: rgba(131, 179, 211, 0.12);
}

.reason-list__item--darker {
 background-color: rgba(131, 179, 211, 0.2);
}

.reason-list__item--lighter {
  background-color: #ffffff;
}

.reason-list__item--big {
  color: #ffffff;
  background-color: #82b3d3;
}

.reason-list__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.reason-list__item--big .reason-list__title {
  color: #ffffff;
}

.reason-list__text {
  font-size: 18px;
  line-height: 21px;
}

.reason-list__img {
  display: block;
}

.hotel-search {
  width: 592px;
  margin: 0 auto;

  text-align: center;
}

.subscribe {
  text-align: center;
}

.subscribe--main {
  color: #ffffff;

  background-color: #abc8e3;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.subscribe__container {
  width: 684px;
  margin: 0 auto;
}

.subscribe--main .title {
  color: #ffffff;
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.contacts__social {
  margin-right: 41px;
}

.contacts__address {
  flex-grow: 1;
  margin-right: 41px;
}

.social {
  max-width: 190px;
}

.social__link {
  color: #82b3d3;
  text-decoration: none;
}

.address {
  text-align: center;
}

.address__phone {
  font-style: normal;
  font-size: 40px;
  color: #000000;
  text-decoration: none;
}

.academy {
  max-width: 120px;

  color: #000000;
  text-decoration: none;
}

.inner-header {
  padding: 0 70px;

  color: #ffffff;

  background-color: #abc8e3;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header .main-title {
  color: #ffffff;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-appearance {
  display: flex;
}

.catalog-hotels {
  padding: 0 70px;
}

.hotels-found {
  width: 400px;
  margin-right: auto;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-appearance__sorting {
  width: 292px;
  margin-right: 70px;
}

.catalog-appearance__view-list {
  width: 160px;
  margin: 0;
  padding: 0;
}

.hotel-list {
  margin: 0;
  padding: 0;
}

.hotel-card__link {
  color: #000000;
  text-decoration: none;
}

.hotel-card__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card__type {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card__price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card__stars {
  color: #82b3d3;
}

.hotel-card__rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;

  background-color: #f2f2f2;
}

.pagination {
  margin: 0;
  padding: 0;
}

.pagination__link {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
}

.pagination__item--current .pagination__link {
  color: #000000;

  background-color: #f2f2f2;
}

.pagination__item--dots .pagination__link {
  color: #000000;

  background-color: transparent;
}
