@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font-family:  "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

/*buttons*/
.btn {
  display: inline-block;
  padding: 8px 50px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border: none;
  cursor: pointer;
}

.btn--secondary {
  background-color: #82b3d3;
}

.btn-success {
  background-color: #7db54f;
}

.btn--transparent {
  background-color: transparent;
}

.btn--small {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

/*forms*/
.control {
  font-size: 18px;
  line-height: 23px;
}

.control__input {
  padding: 14px 20px;

  font-size: 18px;
  line-height: 24px;

  background-color: #f2f2f2;
  border: none;
}

.control-select {
  padding: 14px 20px;

  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

/*titles*/
.title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.main-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #000000;
}

.main-header {
  position: relative;

  display: flex;
  align-items: flex-start;
  padding: 0 70px 0 240px;
}

.main-header__logo {
  position: absolute;
  left: 70px;
}

.main-header__navigation {
  flex-grow: 1;
}

.logo {
  width: 140px;
}

.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navigation {
  display: flex;
}

.menu {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;

  list-style-type: none;
}

.navigation__menu {
  width: 500px;
  margin-right: auto;
}

.navigation__action-menu {
  max-width: 310px;
}

.menu__link {
  display: block;
  padding: 20px 16px;

  text-align: center;
  color: #000000;
  text-decoration: none;
}

.menu__item > .btn {
  margin-top: 14px;
  margin-bottom: 14px;
}

.quantity-favorite {
  position: absolute;

  font-size: 10px;
  color: #ffffff;

  background-color: #7db54f;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;

  text-align: center;
  color: #ffffff;

  background-color: #abc8e3;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.reasons {
  text-align: center;
}

.reasons-intro {
  width: 660px;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 69px;
}

.reasons-intro__title {
  margin-bottom: 25px;
}

.reasons-intro__text {
  margin-top: 0;
  margin-bottom: 21px ;
}

.reason-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.reason-list__item {
  text-align: center;
  color: #333333;

  background-color: rgba(131, 179, 211, 0.12);
}

.reason-list__item--darker {
 background-color: rgba(131, 179, 211, 0.2);
}

.reason-list__item--lighter {
  background-color: #ffffff;
}

.reason-list__item--big {
  display: flex;

  color: #ffffff;
  background-color: #82b3d3;
}

.reason-list__description {
  width: 232px;
  min-height: 214px;
  padding: 103px 84px 67px;
}

.reason-list__item--big .reason-list__description {
  padding-top: 90px;
  padding-bottom: 80px;
}

.reason-list__title {
  margin-top: 0;
  margin-bottom: 62px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.reason-list__item--big .reason-list__title {
  color: #ffffff;
}

.reason-list__item--icon .reason-list__title {
  margin-bottom: 30px;
}

.reason-list__text {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
}

.reason-list__img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.hotel-search {
  width: 592px;
  margin: 96px auto;

  text-align: center;
}

.hotel-search__text {
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe {
  width: 684px;
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe--main {
  color: #ffffff;

  background-color: #abc8e3;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe--main .title {
  color: #ffffff;
}

.subscribe__text {
  width: 500px;
  margin: 0 auto 54px;
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  flex-grow: 1;
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding: 52px 70px 28px;
}

.contacts__social {
  margin-right: 41px;
}

.contacts__address {
  flex-grow: 1;
  margin-right: 41px;
}

.social {
  max-width: 190px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social__link {
  display: block;
  width: 48px;
  height: 40px;

  color: #82b3d3;
  text-decoration: none;
  text-align: center;
}

.address {
  text-align: center;
}

.address__phone {
  font-style: normal;
  font-size: 40px;
  color: #000000;
  text-decoration: none;
}

.academy {
  max-width: 120px;

  color: #000000;
  text-decoration: none;
}

.inner-header {
  padding: 35px 70px 62px;

  color: #ffffff;

  background-color: #abc8e3;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header .main-title {
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs__link {
  display: block;
  min-width: 13px;
  min-height: 21px;
  margin-right: 28px;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter__group {
  margin-right: 63px;
  padding: 0;

  border: none;
}

.catalog-filter__title {
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-filter__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter__item {
  margin-bottom: 12px;
}

.catalog-filter__buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
}

.catalog-filter__submit {
  margin-bottom: 32px;
}

.catalog-hotels {
  padding: 48px 70px 60px;
}


.catalog-appearance {
  display: flex;
  align-items: center;
  margin-bottom: 37px;
}

.hotels-found {
  width: 400px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-appearance__sorting {
  width: 292px;
  margin-right: 70px;
}

.catalog-appearance__view-list {
  display: flex;
  width: 160px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog-appearance__view-item:not(:last-child) {
  margin-right: 7px;
}

.catalog-appearance__view-link {
  display: block;
  width: 45px;
  height: 45px;

  color: #000000;

  background-color: transparent;
  border: 2px solid #E5E5E5;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-top: 0;
  margin-bottom: 80px;
  padding: 0;

  list-style-type: none;
}

.hotel-card {
  width: 300px;
  padding: 20px;

  border: 1px solid #E6E6E6;
}

.hotel-card__link {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  color: #000000;
  text-decoration: none;
}

.hotel-card__title {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card__img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  order: -1;
}

.hotel-card__info {
  margin-top: 0;
  margin-bottom: 15px;
}

.hotel-card__type {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card__price {
  float: right;
  font-size: 18px;
  line-height: 28px;
}

.hotel-card__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-card__btn {
  padding-right: 0;
  padding-left: 0;
}

.hotel-card__stars {
  color: #82b3d3;
}

.hotel-card__rating {
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333333;

  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}
.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  display: block;
  min-width: 36px;
  height: 36px;
  padding: 12px;

  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
}

.pagination__item--current .pagination__link {
  color: #000000;

  background-color: #f2f2f2;
}

.pagination__item--dots .pagination__link {
  color: #000000;

  background-color: transparent;
}
